---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#800000"
  header:      "#111"
  link:        "#800000"
  link-hover:  "#000000"
  blockquote:  "#666"
  box-bg:      "#eee"
  highlight:   "#B2CCFF"
  quiet:       "#666"
  alt:         "#666"
---

body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	background: #000000 url("/images/rubybanner.png") no-repeat top center;
	padding-top: 227px;
	margin: 0;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: <%= @page.color['header'] %>; }
h4 { font-weight: bold; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: <%= @page.color['link'] %>; }
a:hover           { color: <%= @page.color['link-hover'] %>; }
blockquote        { color: <%= @page.color['blockquote'] %>; }

pre {
  background: <%= @page.color['box-bg'] %>;
  border:     1px solid <%= @page.color['border'] %>;
}

hr {
  background: <%= @page.color['highlight'] %>;
  color:      <%= @page.color['highlight'] %>;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid <%= @page.color['border'] %>;
  border-left:    1px solid <%= @page.color['border'] %>;
}
th,td {
  border-bottom:  1px solid <%= @page.color['border'] %>;
  border-right:   1px solid <%= @page.color['border'] %>;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: <%= @page.color['quiet'] %>; }
.alt    { color: <%= @page.color['alt'] %>; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

/* Definition lists
 * --------------------------------------------------------------------- */
div.first dl { float: left; width: 100%; }
div.first dl dt { clear: left; float: left; width: 5em }
div.first dl dd { border-bottom: dotted 1px <%= @page.color['border'] %>; margin-bottom: .5em; margin-left: 5.5em; padding-bottom: .5em; }

div.last dl dt { font-weight: normal; }

div#header {
  display: none;
  height: 0px;
}
div#content { 
  background-color: #FFFFFF;
  border: 2px solid <%= @page.color['border'] %>;
}

div#main {
  width: 76%;
  float: left;
}

div#sidebar {
  width: 24%;
  float: left;
}

div.inside {
  padding: 1em;
}

div#main div.inside {
  border-right: 2px solid <%= @page.color['border'] %>;  
}

div#sidebar div.info {
  border-bottom: 2px solid <%= @page.color['border'] %>;  
  background:#eee;
}

div#footer, div#footer a {
  color: #FFFFFF;  
}

div#future_meetings {
  border: 1px solid <%= @page.color['border'] %>;  
  float: right;
  margin-left: 1em;
  width: 25%;
  padding: 1em;
  background:#eee;
}
/* EOF */
